.planes-container--slider {
  justify-content: center;
}

.product-detail-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  justify-items: center;
  max-width: 100%;
  margin-bottom: 30px;
  gap: 10px;
}

.product-detail-container .product-2 {
  margin: 0;
}

.main-planes-container{
    padding: 0 20px 70px 20px;
}